<app-header></app-header>
<div class="container-fluid chat_bg">
  <div class="chat-area pt-5">
    <p class="p-3" >
      <span class="bg-white rounded-5 rounded-end-circle p-3" >
        Hi Daniel
      </span>
    </p>
    <p class="p-3 text-end" >
      <span class="bg-white rounded-5 rounded-end-circle p-3 " >
        Hello Swavvy
      </span>
    </p>
  </div>


  <div class="row action-box rounded-md w-100 px-1 ">
    <div class="input-group">
      <input type="text" class="form-control p-2" placeholder="Recipient's username" aria-label="Enter Chat Here">

      <button class="btn btn-outline-secondary px-2" type="button">
        SEND <i  class="fa">&#xf1d8;</i>
      </button>
    </div>
  </div>

</div>
